:root {
    --mainfontfam: Arial, Helvetica, sans-serif;
    --codefontfam: 'Courier New', Courier, monospace;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  font-family: var(--mainfontfam)
}

.main__container {
  border: 1px solid red;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  background-color: rgb(34, 34, 101);
  margin: 0;
  padding: 5px 10px;
}

.header__heading {
  color: white;
}

.header__text {
  color: white;
}

.api__section {
    border: 1px dotted darkgray;
    padding: 5px 10px;
}

.api__heading {
    font-size: 2rem;
}

.api__text {
    font-size: 1.5rem;
}

.api__text--bold {
    font-weight: 700;
}
.api__text--code {
    font-family: var(--codefontfam);
}